@import 'mixins';

html, body {
  .font_brand;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

body {
  .font();
  -webkit-font-smoothing: antialiased;
  * {box-sizing: border-box;}
  overflow-x: hidden;
}

.container {
  position: relative;
}

.for_form {
  .flex-display(column, nowrap,center,center,center);
  min-height: 100vh;
  background-color: @color2;
  position: relative;

  .form_nav {
    width: 300px;
    .flex-display(row, nowrap,center,center,center);
    position: relative;
    z-index: 2;
    a {
      background-color: fade(@color3, 70%);
      color: @color4;
      display: inline-block;
      flex: 0 1 150px;
      text-decoration: none !important;
      padding: .6em 1em;
      text-align: center;
      .transition(background-color, .4s);
      border-radius: 10px 10px 0 0;
      &.active, &.active:hover {
        background-color: @color3;
      }
      &:hover {
        background-color: fade(@color3, 35%);
      }
    }
  }
  form {
    .flex-display(column, nowrap,center,stretch,center);
    background-color: @color3;
    padding: 1em;
    width: 300px;
    position: relative;
    z-index: 2;
  }
  input {
    .transition(all, .4s);
  }
  [type=text], [type=password] {
    .styled_input;
    margin-bottom: 1em;
  }
  [type=submit] {
    padding: .6em 1em;
    background-color: @color2;
    color: @color4;
    text-transform: uppercase;
    border: 0;
    &:hover {
      cursor: pointer;
      background-color: darken(@color2, 5%);
      .shadow(0 0 10px @color4);
    }
  }
}

.mv {
  min-height: ~"calc(100vh - 80px)";
  height: ~"calc(100vh - 80px)";
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 18vw 18vw auto;
  grid-template-areas: "aside subnav main";
  @media screen and (max-width: @screen-xs-max) {
    grid-template-rows: auto;
    grid-template-columns: 100vw 100vw auto;
    grid-template-areas: "aside subnav main";
    .transition(.3s, margin-left);
    &.show_class_2 {
      margin-left: -100vw;
    }
    &.show_class_3 {
      margin-left: -200vw;
    }
  }
}

.mv_header {
  background-color: @color2;
  display: grid;
  grid-template-rows: [left_end] 80px [right_end];
  grid-template-columns: 1fr auto;
  grid-template-areas:  "form usercorner";
  padding: 0 1em;
  align-items: stretch;
  .username {
    color: @color4;
    text-transform: uppercase;
    .font(20px, 1.4);
  }
  .userpic {
    .bg();
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-left: 15px;
    .font(3em,1);
    color: @color4;
  }
  .usercorner {
    grid-area: usercorner;
    justify-self: end;
    .flex-display(row,nowrap,center,center,center);
    a {
      color: @color4;
    }
  }
  [type=search] {
    background-color: transparent;
    flex: 1 1 auto;
    color: @color4;
    border: none;
    line-height: 2.5;
    padding: 0 15px;
    .placeholder({color: @color4;});
    vertical-align: middle;
    outline-color: @color4 !important;
  }
  [type=search]::-webkit-search-cancel-button {
    display: none;
  }
  [type=search]::-ms-clear {
    display: none;
  }
  .search_toggle, .back_link {
    display: none;
    color: @color4;
    font-size: 24px;
    padding: 0 2rem 0 2rem;
  }
  .search_toggle {
    grid-area: toggler;
    padding-right: 1rem;
    &.form_shown {
      background-color: darken(@color2, 10%);
    }
  }
  .back_link {
    grid-area: backlink;
    justify-self: flex-start;
    .transition(0.3s, background-color);
  }
  form {
    grid-area: form;
    align-self: center;
    margin-right: auto;
    button {
      .reset_appearance;
      background-color: transparent;
      vertical-align: middle;
      outline: none !important;
      color: @color4;
      padding: 6px;
      font-size: 30px;
      line-height: 1;
      &:focus {
        .animation(opacity_a 1s 1);
      }
    }
    .no_res {
      color: @color4;
      display: inline-block;
      padding: 6px;
      line-height: .4;
      border-bottom: 1px solid @color4;
    }
  }
  @media screen and (max-width: @screen-xs-max) {
    grid-template-rows: [left_end] 60px [right_end];
    grid-template-columns: auto 1fr 1fr;
    grid-template-areas:  "backlink toggler usercorner" "form form form";
    padding-left: 0;
    &.expanded {
      height: 140px;
    }
    .back_link {
      .flex-display(row,nowrap,center,center,center);
      background-color: lighten(@color2,10%);
      padding: 0 .5rem;
      a {
        color: @color4;
        padding: 0 1rem;
      }
    }
    .search_toggle {
      .flex-display(row,nowrap,flex-start,center,center);
      max-width: 80px;
    }
    .back_link + .search_toggle {
      justify-content: center;
      padding-left: 1rem;
    }
    .usercorner {
      padding-left: 1rem;
      max-width: ~"calc(100vw - 160px)";
      justify-content: flex-end;
      .username {
        white-space: nowrap;
        font-size: 1rem;
        max-width: 100px;
        overflow: hidden;
      }
      .userpic {
        flex: 0 0 3rem;
      }
    }
    form {
      flex: 1 1 100%;
      order: 10;
      margin-bottom: 1rem;
      .flex-display(row,nowrap,center,stretch,center);
      margin-right: 0;
      padding-left: 1rem;
      [type=search] {
        padding-left: 1rem;
      }
      button {
        margin-left: 15px;
      }
    }
  }
}

.keyframes(opacity_a, {
  0%, 100% { opacity: 1; }
  50% { opacity: .5; }
});

.mv_aside {
  grid-area: aside;
  background-color: darken(@color3, 10%);
  .flex-display(column,nowrap,space-between,flex-start,center);
  a {
    .nav_link;
    color: @color4;
    border-bottom: 2px solid @color2;
    &.active {
      background-color: @color3;
    }
    &:hover {
      background-color: @color3;
    }
  }
}

.mv_subnav {
  grid-area: subnav;
  background-color: darken(@color3, 5%);
  .flex-display(column,nowrap,space-between,flex-start,center);
  a {
    .nav_link;
    color: @color4;
    border-bottom: 2px solid @color2;
    &.active {
      background-color: @color3;
    }
    &:hover {
      background-color: @color3;
    }
  }
}

.subnav_inner {
  width: 100%;
}

.mv_main {
  position: relative;
  grid-area: main;
  background-color: lighten(@color3, 2%);
  .flex-display(row,nowrap,center,stretch,center);
}

.mv_article {
  flex: 1 1 auto;
  padding: 0 2vw;
  .flex-display(column,nowrap,space-between,stretch,center);
  header {
    .font(24px,1.4);
    padding: 1.5vw 0;
    border-bottom: 2px solid @color2;
    flex: 0 1 auto;
  }
  footer {
    padding: 1.5vw 0;
    border-top: 2px solid @color2;
    flex: 0 1 auto;
    text-align: left;
    min-height: 71px;
  }
  @media screen and (max-width: @screen-xs-max) {
    padding: 1rem 1rem;
    header {
      .font(1.4rem, 2rem);
    }
    footer {
      padding: 1rem 0;
    }
  }
}

.table_data {
  position: relative;
  table {
    width: 100%;
    border-collapse: collapse;
    tr {
      th, td {
        padding: 5px 10px;
        text-align: left;
      }
      th {
        border-bottom: 2px solid @color4;
      }
      td {
        border-bottom: 1px solid @color4;
        background-color: lighten(@color3, 2%);
        .transition(0.3s, background-color);
      }
    }
  }
  tr {
    &:hover {
      td {
        background-color: lighten(@color3,10%);
      }
    }
  }
}

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}

.ap_cell {
  .flex-display(row,nowrap,flex-end,center,center);
  padding: 1vw;
  button {
    .reset_appearance;
    color: @color4;
    padding: .5vw .5vw;
    outline: none;
    &:hover {
      cursor: pointer;
      color: @color5;
    }
    &.contrast_button {
      background-color: @color4;
      color: @color1;
      &:hover {
        background-color: @color5;
      }
    }
  }
  [type=text] {
    .styled_input;
    margin-bottom: 0;
    color: @color4;
    &:focus + .contrast_button {
      outline: 5px auto @color4;
      &:hover {
        outline-color: @color5;
      }
    }
  }
  @media screen and (max-width: @screen-xs-max) {
    padding: 1rem;
    align-items: stretch;
    button {
      padding: .5vw 1rem;
    }
  }
}

.with_edit_button {
  position: relative;
}

.tef {
  &__button{
    .styled_button;
  }
  .form_toggler {
    opacity: .2;
  }
  &:hover {
    .form_toggler {
      opacity: 1;
    }
  }
  &.form_shown {
    .form_toggler {
      opacity: 1;
    }
  }
  label {
    .flex-display(row,nowrap,center,center,center);
    flex: 1;
    padding: 0 1rem 0 0;
    [type=text],[type=number]{
      .styled_input;
      flex: 1 0 100px;
      width: 100px;
      margin-left: .5rem;
    }
  }
  @media screen and (max-width: @screen-xs-max) {
    label {
      span {
        flex: 0 0 50px;
        text-align: left;
      }
    }
  }
}
.atl {
  .flex-display(row-reverse,nowrap,center,stretch,center);
  &__button {
    .styled_button;
    span {
      padding-right: 15px;
    }
  }
  &__form_here {
    flex: 1;
    .flex-display(row,nowrap,center,stretch,center);
    [type=text], [type=number] {
      flex: 1 1 auto;
    }
  }
  .buttons {
    .flex-display(row,nowrap,center,stretch,center)
  }
  .atl__datepicker {
    position: fixed;
    top: 30vh;
    background-color: fade(darken(@color3, 5%),90%);
    color: @color4;
    .prev, .next {
      &::after {
        color: @color4;
      }
    }
    .prev {
      &::after {
        border-right-color: @color4;
      }
    }
    .next {
      &::after {
        border-left-color: @color4;
      }
    }
    header {
      border-bottom: none;
      .next:not(.disabled):hover, .prev:not(.disabled):hover, .up:not(.disabled):hover {
        background-color: fade(darken(@color3, 5%),90%);
      }
    }
  }
  @media screen and (max-width: @screen-sm-max) {
    &__form_here {
      flex-direction: column;
    }
    .buttons {
      .atl__button {
        flex: 1 1 auto;
      }
    }
  }
}

